<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Yoga Assistant{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    {% block extra_css %}{% endblock %}

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container">
        <a href="{% url 'home' %}" class="logo">Yoga Assistant</a>
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>

          {% if user.is_authenticated %}

          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main>{% block content %}{% endblock %}</main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <!-- Contact Us -->
        <div class="footer-content">
          <h3>Contact Us</h3>
          <p>Email: siss@gmail.com</p>
          <p>Phone: +977-9818333945</p>
          <p>Address: Sanepa, Lalitpur</p>
        </div>

        <!-- Quick Links -->
        <div class="footer-content">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
          </ul>
        </div>

        <!-- Follow Us -->
        <div class="footer-content">
          <h3>Follow Us</h3>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <p style="text-align: center">
        &copy; 2025 Yoga Assistant. All Rights Reserved.
      </p>
    </footer>

    <!-- Page-specific scripts will be inserted here -->
    {% block scripts %}{% endblock %}
  </body>
</html>
